body{	
	background-color: black;
}
nav{
	text-align:center;
	font-size: 150%;
}
h1{
	color: rgb(255,255,51);
	text-align: center;
}
h2{
	color: black;
}
ul{
	color: black;
}
a:link {
    color: blue;
}
a:visited {
    color: green;
}
a:hover {
    color: purple;
}
div{
	margin:0 5px;
	background-color:rgb(255,255,51);
	padding-right: 5px;
	border-radius: 15px;
	}